* {
    margin: 0;
}

header {
    height: 100vh;
    width: 100%;
}

.main img {
    width: 100%;
    height: 100vh;
}

.main {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.bgimg {
    background-image: url(/IMAGES/01.jpg);
    background-size: 100%;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: fixed;

    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    z-index: 4;
    position: fixed;
}

.right {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    color: white;
}

.right {
    width: 50%;
    margin-left: 50%;
}

.right a {
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
}

.left {

    padding-top: 10px;
    height: 100%;
    width: 40%;
    z-index: 4;
}

.left img {
    height: 100%;
    margin-bottom: 50vh;
    margin-left: 30px;
    width: 30vh;
    display: flex;
    justify-content: top;
    z-index: 4;
}

.name h3 {

    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: white;
    z-index: 5;
}

@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.name h1 {
    font-stretch: extra-condensed;
    font-weight: bolder;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 99px;
    color: white;
    line-height: 88%;
    z-index: 5;
}

.name {

    margin-left: 25vh;
    padding-top: 150px;
    height: 90vh;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.aboutus {
    margin-top: 90px;
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    z-index: 5;
    background-color: #d41500;

}

.aboutus:hover {

    transform: scale(1.1);
}

.aboutus h3 {


    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    z-index: 5;

    font-weight: lighter;


}

.section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: white;
    z-index: 6;
}

.section p {

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #d41500;
    justify-content: center;
    padding: 15px;
    text-align: center;

}

.section div {

    width: 80%;
    justify-content: center;

}

.bottom1 {
    display: flex;
    position: relative;
    width: 100%;
    height: 70vh;
    /* background-color:#f0f0f0 ; */
    background-color: #f0f0f0;
    z-index: 5;
}

.right a:hover {

    text-decoration: underline #d41500;


}

.dls {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: violet;
}

.dls img {

    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.rightside {


    width: 50%;
    height: 100%;
    background-color: #f0f0f0;

}

.dls :nth-child(2) {
    margin-left: 22%;
    margin-top: 22%;
    width: 200px;
    height: 200px;
}

.rightside h3 {


    font-weight: inherit;
    line-height: 82%;
    font-size: 58px;
    color: #d41500;
    font-family: 'Bebas Neue', sans-serif;



}

.rightside p {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    color: #d41500;

}

.insideright {
    padding-left: 40px;
    text-align: start;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 75%;
    height: 100%;
}

.insideright button {
    margin-left: 30%;
    width: 100px;
    height: 30px;
    font-size: large;
    color: white;
    background-color: #d41500;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.insideright button:hover {

    transform: scale(1.1);

}

.bottom2 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 70vh;

    z-index: 6;
}

.scorhero {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;

}

.left2 {

    padding-left: 40px;
    text-align: start;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 46.7%;
    height: 100%;
    flex-direction: column;
    display: flex;
    background-color: #d31400;
}

.scorhero img {

    width: 100%;
    height: 100%;
}

.left2 h3 {

    font-weight: inherit;
    line-height: 82%;
    font-size: 58px;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
}

.left2 p {

    width: 75%;
    color: white;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

.bottom2 button:hover {

    transform: scale(1.1);
}

.bottom2 button {
    margin-left: 30%;
    color: white;
    background-color: transparent;
    border-color: white;
    width: 100px;
    height: 30px;
}

.bottom3 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: yellow;
    z-index: 6;
}

.right3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    background-color: #f0f0f0;
}

.dreamleague {
    width: 50%;
    height: 100%;
    background-color: magenta;
}

.dreamleague img {

    width: 100%;
    height: 100%;

}

.right3 h3 {


    font-weight: inherit;
    line-height: 82%;
    font-size: 58px;
    color: #d41500;
    font-family: 'Bebas Neue', sans-serif;

}

.right3 {

    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    color: #d41500;

}

.right3 button {

    margin-left: 30%;
    width: 100px;
    height: 30px;
    font-size: large;
    color: white;
    background-color: #d41500;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.bottom4 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: #d31400;
    z-index: 6;
}

.left4 {
    height: 100%;
    width: 50%;
    background-color: #d31400;

}

.scorematch {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;

}

.scorematch img {
    width: 100%;
    height: 100%;
}

.insiderleft h3 {

    font-weight: inherit;
    line-height: 82%;
    font-size: 58px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.insiderleft p {

    width: 75%;
    color: white;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}

.insiderleft button {

    margin-left: 30%;
    color: white;
    background-color: transparent;
    border-color: white;
    width: 100px;
    height: 30px;
}

.insiderleft button:hover {

    transform: scale(1.1);
}

.insiderleft {
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.twitter {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 45vh;
    background-image: url(IMAGES/Screenshot\ 2024-02-10\ 174722.png);
    z-index: 6;
}

footer {
   
    position: relative;
    display: flex;
    
    height: 30vh;
    width: 100%;
    background-color: #d31400;
    z-index: 6;
}
.underfooter{
    padding-left: 5%;
    justify-content: space-evenly;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 90%;
    background-color: #d31400;
    z-index: 6;
}

.logos {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logos img {
    width: 65px;
    height: 26px;
}
.logos img:hover{

    transform: scale(1.1);
}

.copyright {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

}

.copyright {
    color: white;
}

.copyright img {
    width: 110px;
    height: 40px;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    justify-content: right;
    align-items: center;
    gap: 20px;

}

.icons img {
    
    width: 30px;
    height: 30px;
    padding: 5px;
}
.img1{
    border: solid 5px white;
}
.img2{
    border: solid 5px white;
}
.img3{
    border: solid 5px white;
}
.icons img:hover{
   transform: scale(1.2);
    
}